PORT=3000

# Database - Opções: "sqlite", "memory", "prisma"(PostgreSQL) e "json"
DB_DRIVER="prisma"

# Formato Local (Docker)
# DATABASE_URL="postgresql://root:rootpassword@localhost:5432/questhub"

# Formato Nuvem (Supabase / Neon)

#--- método IPv4 (pooler) ---

# URL Transacional (Usa a porta 6543 e o domínio pooler.supabase.com)
#DATABASE_URL="postgresql://postgres.wevgfue...:SuaSenha@aws-0-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# URL de Sessão / Migrations (Usa a porta 5432 e o domínio pooler.supabase.com)
#DIRECT_URL="postgresql://postgres.wevgfue...:SuaSenha@aws-0-sa-east-1.pooler.supabase.com:5432/postgres"

#--- método IPv6 (direta) ---

# URL Direta (Usa a porta 5432 e o domínio db.wevgfue...supabase.co)
#DATABASE_URL="postgresql://postgres.xxx:SuaSenha@aws-0-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

#DIRECT_URL="postgresql://postgres.xxx:SuaSenha@aws-0-sa-east-1.pooler.supabase.com:5432/postgres"

